body{
	background-image: url("../imgs/spookyTiles.png");
	background-repeat: repeat;
}
.navItem{
	position: fixed;
	min-width: 50px;
	min-height: 50px;
	background-color: #FC0AFC;
	opacity: .75;
	z-index: 85;
}
.navButton{
	position: relative;
	padding: 0px;
	left: 25px;
	display: inline;
	background-color: #FF4466;
	opacity: 1;
	max-width: 150px;
	min-width: 100px;
	min-height: 25px;
	z-index: 95;
}
.navBar{
	position: fixed;
	background-color: #332233;
	z-index: 90;
}
#horizLBar{
	top: 0px;
	border-bottom-left-radius: 25px;
	left: 25px;
	width: 80%;
	height: 25px;
	max-height: 25px;
}
#horizRBar{
	bottom: 0px;
	border-top-right-radius: 25px;
	right: 25px;
	width: 80%;
	height: 25px;
	max-height: 25px;
}
#vertLBar{
	top: 25px;
	border-top-right-radius: 25px;
	left: 0px;
	width: 25px;
	max-width: 25px;
	height: 80%;
}
#vertRBar{
	bottom: 25px;
	border-bottom-left-radius: 25px;
	right: 0px;
	width: 25px;
	max-width: 25px;
	height: 80%;
}
#banner{
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 80px;
	height: 150px;
	max-height: 150px;
	background: linear-gradient(black,red);
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 32px;
	z-index: 79;
	float: left;
}
#tuPac{
	position: absolute;
	top: 150;
	left: 5%;
	width: 90%;
	min-height: 100%;
	background: linear-gradient(rgba(200,200,200,0.3),red,black);
	z-index: 75;
}
#leftNav{
	top:0px;
	border-bottom-right-radius: 50px;
	background-color: #332244;
	left:0px;
}
#rightNav{
	right:0px;
	border-top-left-radius: 50px;
	background-color: #001122;
	bottom:0px;
}
.contentContainer{
	z-index: 76;
	padding: 10px;
	position: relative;
	border-top-left-radius: 3%;
	border-top-right-radius: 7%;
	background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.6));
	left: 15%;
	float: left;
	min-width: 70%;
	max-width: 90%;
	text-color: #FFFFFF;
	min-height: 50px;
	clear: right;
	height: 100%;
}
.videoContainer{
	z-index: 77;
	position: relative;
	left: 3%;
	top: 10;
	background-color: #F0AA33;
	max-width: 94%;
	min-height: 225px;
}
.imageContainer{
	z-index: 77;
	position: relative;
	left: 3%;
	float: left;
	top: 10;
	text-align: center;
	border-top-right-radius: 3%;
	background: linear-gradient(rgba(200,200,200,0.70), rgba(200,200,200,0.50));
	max-width: 94%;
	min-width: 94%;
	max-height: 90%;
	
}
.imageContainer img{
	z-index: 79;
	position: relative;
	padding: 10px;
	float: left;
	left: 25%;
}
.blogContainer{
	z-index: 77;
	position: relative;
	left: 3%;
	float: left;
	top: 10;
	border-top-right-radius: 3%;
	opacity: .9;
	background: linear-gradient(rgba(200,200,200,0.70), rgba(200,200,200,0.30));
	max-width: 94%;
	min-width: 94%;
	max-height: 90%;
}
.blogContainer p, .blogContainer li{
	font-family: "Comic Sans MS";
	color: #DDDDDD;
}
.blogContainer h1{
	text-size: 32px;
	text-align: center;
	color: #FFEEFF;
	font-family: "Veranda";
}
.blogContainer h2{
	text-size: 24px;
	text-align: left;
	color: #EEDDEE;
	font-family: "Trajan";
}
.blogContainer h3{
	text-size: 18px;
	text-align: left;
	color: #EEDDEE;
	font-family: "Courier New";
}
.blogContainer .blogSideA{
	z-index: 78;
	position: relative;
	left: 0;
	float:left;
	background: rgba(125,125,125, 0.75);
	max-width: 40%;
	min-width: 40%;
	width: 40%;
}
.blogContainer .blogDividen{
	z-index: 78;
	position: absolute;
	float: left;
	left: 40%;
	background: rgba(200,200,200,.9);
	min-width: 20%;
	max-width: 20%;
	height: 100%;
}
.blogContainer .blogSideB{
	z-index: 78;
	position: relative;
	background: rgba(125,125,125,0.75);
	float:right;
	min-width: 40%;
	max-width: 40%;
}